@import 'vars';


body{
    margin: 0;
    padding: 2rem 0 0 0;
    color: $white;

}

#root{
    margin-top: 0;
}

h1,h2,h3, h4, h5{
    font-family: $hFont;
    font-weight: 400;
    margin: 0;
}

h1{
    font-size: 150px;
}

h2{
    font-size: 100px;
}

h3{
    font-size: 56px;
}

h4{
    font-size: 32px;
}

.sub-h-1{
    font-family: $subFont;
    font-size: 28px;
    text-transform: uppercase;
}

.container{
    margin: 0 auto;
    max-width: 80%;
}

h5{
    color: $ligthPurlple;
}

.sub-h-2, .navigation{
    font-family: $subFont;
}

.sub-h-2{
    font-size: 14px;
}

.navigation{
    font-size: 16px;
}
.navigation li a{
    padding: 0.5rem;
}

p{
    font-family: $subFont;
    font-size: 16px;
    color: $ligthPurlple;
}

ul{
    font-family: $subFont;
}

.nav-bar-active{
    border-bottom: solid white 2px;
}


